.todo-item{
    padding: 20px;
    display: flex;
    cursor: pointer;
}

.todo-item:hover{
    background-color: #ced;
    .remove{
        opacity: 1;
    }
}

.todo-text{
    flex: 1;
}

.checked{
    text-decoration: line-through;
    color: chocolate;
}

.remove{
    margin-right: 5px;
    opacity: 0;
}

/* .remove:hover{
    opacity: 1;
} */



