.visit-item{
    padding: 15px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
    transition: background-color 0.3s ease;
}

.visit-item:hover{
    background-color: #8ecae6;
    .remove{
        opacity: 1;
    }
}

.visit-text{
    flex: 1;
}

.checked{
    text-decoration: line-through;
    color: #fb8500;
}

.remove{
    margin-right: 5px;
    opacity: 0;
}